<%- include('_header.ejs')%>
<h2>
    <%=pageTitle%>
</h2>

<p>This page displays all the speakers at the conference.</p>
<ul>
    <% speakers.forEach(speaker => { %>
        <li>name:<%=speaker.name %></li>
        <li>from:<%=speaker.country %></li>
    <% }) %>
</ul>
<%- include('_footer.ejs')%>